<launch>
	<node pkg="camera_publisher" type="camera_publisher_node" name="camera_publisher0" output="screen">

	      <param name="device_name" type="string" value="/dev/video0" />
	      <param name="topic_name" type="string" value="data/video0" />

	      <param name="camera_width" type="int" value="800" />
	      <param name="camera_height" type="int" value="600" />

	      <param name="output_width" type="int" value="800" /> <!-- 800x600 -->
	      <param name="output_height" type="int" value="600" />
	      <param name="publish_compressed_jpeg" type="bool" value="true" />
	</node>
</launch>
